.scaleIn{
  0% {
    opacity: 0;
    .transform(scale(0));
  }
  100% {
    opacity: 1;
    .transform(scale(1));
  }
}
@-webkit-keyframes scaleIn {.scaleIn;}
@-o-keyframes scaleIn {.scaleIn;}
@keyframes scaleIn {.scaleIn;}



.flyIn {
  0% {
    top:-100px;
    left: -1000px;
    .transform(rotate(100deg));
  }
  100% {
    top: 0px;
    left: 0px;
    .transform(rotate(0deg));
  }
}
@-webkit-keyframes flyIn {.flyIn;}
@-o-keyframes flyIn {.flyIn;}
@keyframes flyIn {.flyIn;}


.flyIn1 {
  0% {
    top:-500px;
    left: 1000px;
    .transform(rotate(-300deg));
  }
  100% {
    top: 0px;
    left: 0px;
    .transform(rotate(0deg));
  }
}
@-webkit-keyframes flyIn1 {.flyIn1;}
@-o-keyframes flyIn1 {.flyIn1;}
@keyframes flyIn1 {.flyIn1;}


.flyIn2 {
  0% {
    top:-1000px;
    left: -500px;
    .transform(rotate(300deg));
  }
  100% {
    top: 0px;
    left: 0px;
    .transform(rotate(0deg));
  }
}
@-webkit-keyframes flyIn2 {.flyIn2;}
@-o-keyframes flyIn2 {.flyIn2;}
@keyframes flyIn2 {.flyIn2;}


.flyIn3 {
  0% {
    top:-1100px;
    left: 500px;
    .transform(rotate(-100deg));
  }
  100% {
    top: 0px;
    left: 0px;
    .transform(rotate(0deg));
  }
}
@-webkit-keyframes flyIn3 {.flyIn3;}
@-o-keyframes flyIn3 {.flyIn3;}
@keyframes flyIn3 {.flyIn3;}


#gallery-container{
  overflow: hidden;
  position: relative;
  padding: 0px 7px;
  opacity: 1;
  .transition(opacity .2s);
  &.fadeOut{
    opacity: 0;
  }
  text-align: center;

  .gallery,.photo{
    .animation(~"flyIn .5s, scaleIn .5s");
    &:nth-child(2n){
      .animation(~"flyIn1 .5s, scaleIn .5s");
    }
    &:nth-child(3n+1){
      .animation(~"flyIn3 .5s, scaleIn .5s");
    }
    &:nth-child(3n){
      .animation(~"flyIn2 .5s, scaleIn .5s");
    }

    top: 0;
    left: 0;
    margin: 7px;
    position: relative;
    cursor: pointer;

    display: inline-block;

    img{
      display: block;
      border:5px solid @backgroundColor;
      .transition(all .5s);
    }
    .caption{
      text-align: center;
      color: @white;
      background-color: @backgroundColor;
      padding: 5px;
      display: block;
    }
    &:hover:not(.active){
      background-color: lighten(@backgroundColor, 10%);
      opacity: .9;
      img{
        .filter(brightness(3) grayscale(1));
      }
    }

  }
  .photo{
    height: 200px;
    img{
      height: 100%;
    }
    .caption{
      display: none;
    }
    &.active{
      width: 100%;
      height: auto;
      img{
        width: 100%;
        height: auto;
      }
    }
  }
}
@supports (display: flex) or (display:-webkit-flex){
  #gallery-container{
    .display-flex();
    .flex-direction(row);
    .flex-wrap(wrap);
    .justify-content(center);
    .align-items(center);
    .gallery,.photo{
      width: auto;
      float: none;
      img{
        width: auto;
      }
    }
    .photo{
      height: auto;
    }
  }
}

