{% extends "layout.html" %}

{% set pageID = "index" %}

{% block body %}
  <div class="row">
    <div class="span8 offset2">
      <h1>Contact Me</h1>
      <h3>Who am I?</h3>
      <p>I am a programmer. I am a photographer. I am a hiker. I am a book reader.  I am Ryan Kahn.</p>
      <h3>Get in touch</h3>
      <dl>
        <dt>Phone:</dt>
        <dd>617-286-4690</dd>
        <dt>Email:</dt>
        <dd><a href="mailto:ryan@ryan-kahn.com">ryan@ryan-kahn.com</a></dd>
        <dt>Telepathy:</dt>
        <dd>Think of my name really hard, or the number 9</dd>
      </dl>
    </div>
  </div>
{% endblock %}