{% extends "layout.html" %}

{% set pageID = "contact" %}

{% block body %}
  <div class="row">
    <div class="span8 offset2">
      <h1>Contact Me</h1>

      <h3>Who am I?</h3>
      <p>I am a <a href="/projects">programmer</a>. I am a <a href="/photos">photographer</a>. I am a hiker. I am a book reader.  I am Ryan Kahn.</p>
      <div class="row contactRow">
        <div class="span4"><a href="tel:+4148397437"><i class="icon-mobile-phone"></i>617-286-4690</a></div>
        <div class="span4"><a href="mailto:ryan@ryan-kahn.com"><i class="icon-envelope"></i>ryan@ryan-kahn.com</a></div>
      </div>
      <br>
      <br>
      <div class="row contactRow">
        <div class="span2"><a href="http://vizualize.me/ryank"><i class="icon-user"></i>Resume</a></div>
        <div class="span2"><a href="https://github.com/myztiq"><i class="icon-github"></i>Github</a></div>
        <div class="span2"><a href="http://twitter.com/Myztiq"><i class="icon-twitter"></i>Twitter</a></div>
        <div class="span2"><a href="http://www.linkedin.com/in/ryankahn"><i class="icon-linkedin"></i>Linkedin</a></div>
      </div>
    </div>
  </div>
{% endblock %}