<h3>Who am I?</h3>
I am a web programmer. I am a photographer. I am a hiker. I am a book reader.  I am Ryan Kahn.
<br><br>

<h3>How to get ahold of me</h3>
Phone: 617-286-4690
<br>
Email: <a href="mailto:ryan@ryan-kahn.com">ryan@ryan-kahn.com</a>
<br>
Telepathy: Think of my name really hard, or the number 9