extends layout

block content
  | Many web developers do not have nice websites. We just don't have the time to create or maintain them when the next deadline is yesterday. Suprisingly over the past couple of weeks I have gotten enough time to build this site. Let me know if there are any huge issues by shooting an email to
  a( href="mailto:ryan@ryan-kahn.com") ryan@ryan-kahn.com.
  .mainPhotos
    a(href="/projects")
      img(src="/images/programmingLogo.png")
    a(href="/contact")
      img(src="/images/aboutLogo.png")
    a(href="/photos")
      img(src="/images/photographyLogo.png")
