extends layout

block content
  p Welcome to the world of Ryan Kahn. I am a developer by day and photographer by night.
    |  My passion lies in furthering my skills and self mastery, from programming to photography to knowing my emotional triggers.
    |  My life revolves around clear concise conversation and I seek to grow and apply my skills in all aspects of my life.
  p Don't hesitate to&nbsp;
    a(href="/contact") contact
    |  me for any reason.
  .mainPhotos
    a(href="/projects")
      img(src="/images/programmingLogo.png")
    a(href="/contact")
      img(src="/images/aboutLogo.png")
    a(href="/photos")
      img(src="/images/photographyLogo.png")
