extends layout

block content
  style
    h2{
      clear:both;
    }
    img{
      float:left;
      max-width:30%;
      padding:10px;
    }
    img.right{
      float:right;
      max-width:30%;
      padding:10px;
    }
  h2: a(href="/static/onlyCSS") CSS Only Game
    br
    img(src="/images/onlyCSS.png")
  p This game was built over the course of a few weeks.
    |  This is probably my most famous piece of work, it completely decribes the type of person I am. Someone who lovest taking a new technology and pushing it to a place that it has not been before.
    |  It is a spy hunter esqe game that utilizing only css, there is no javascript on the page (aside from analytics).
    |  There is also only one image used on the page, the image is for the mouse pointer because the browser does not let the user change the mouse pointer to a div.
  h2: a(href="http://fataldawn.com") Fatal Dawn
    img.right(src="/images/fatalDawn.png")
  p I created this game with a team of people I met during a HTML5 game jam. Its a platformer where the key mechanic is about running around during the night and as the sun
    |  rises the game gets easier but you get closer to death. Check it out with the sound on as the audio by
    a(href="http://soundcloud.com/knotar") Kevin Notar
    |  is cruical to the game.
  h2: a(href="http://www.twitapocalypse.com/") Twitapocalypse
  p My first real game jam, I got ambitious with my team and ended up handling the twitter oauth integrations into a game engine that I had never worked with. The quality of this game spawned my interest
    |  in developing more games. Run around reading the latest tweets from everyone you follow and slicing their heads off, the kill list is on the top right. Kill the wrong person and you get a penalty.
  h2: a(href="/static/threejs/") ThreeJS
    img.right(src="/images/threeJS.png")
  p While I was prototyping a game idea similar to
    a(href="http://www.miniclip.com/games/coign-of-vantage/en/") Coign of Vantage
    | . I ended up with this fun webGL interactive rendering of a friends picture.
  h2: a(href="/static/duneRacer") webGL Level Editor
    br
    img(src="/images/levelEditor.png")
  p This was my intro project to working with
    a(href="https://github.com/mrdoob/three.js/")  ThreeJS
    | . It was a fun project to work with but my enjoyment for working with 3D really brought me over to the
    a(href="https://github.com/cjcliffe/CubicVR.js/") CubicVRJS
    |  project where I created
    a(href="http://glydrs.com") glydrs
    | .
  h2: a(href="http://glydrs.com") Glydrs
    img.right(src="/images/glydrs.png")
  p A physics based webGL implementation of a skydiving game where the user dives through a youtube video with beat detection and controller/kinect support.
    |  Created in a few short weeks for
    a(href="http://mozillalabs.com/blog/2011/12/webgl-camp-4-revisited/") WebGL Camp
    |  where we were flown out to present. A split-screen multiplayer game optimized for firefox.

