.galleryContainer
	position relative
	min-height 150px
	.photoContainer
		width 150px
		position absolute
		margin 10px
		img
			cursor pointer
			margin 0 auto 0 auto
			display block
			border 5px solid white
			border-radius 4px
			vertical-align middle
		.caption
			text-align center
.backToHome
	cursor pointer
	background-color #888
	border 5px solid #888
	border-radius 5px
	position absolute
	top -15px
	left -22px
	z-index 1
	color white